@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Adam Ol  Yeter</h3>
    <label>
        Ne hakim, ne savcı, ne de doktor ol<br />
        Hedefe yürüyen adam ol yeter<br />
        Çıksa da önüne binbir türlü yol<br />
        Hedefe yürüyen adam ol yeter<br /><br />
        Elbet seni hakir görenler olur<br />
        Kınayanlar olur, yerenler olur<br />
        Vazgeç diye akıl verenler olur<br />
        Hedefe yürüyen adam ol yeter<br /><br />
        Kararlı ol, kim ne ederse etsin<br />
        Düşmana el salla kör dövüş bitsin<br />
        Sonsuza talipsen aldırma gitsin<br />
        Hedefe yürüyen adam ol yeter<br /><br />
        Engeller çıkarsa pes etme sakın<br />
        Ölümüne giden bir tavır takın<br />
        Kışlar bahar olur, uzaklar yakın<br />
        Hedefe yürüyen adam ol yeter<br /><br />
        Şu sahte dünyada gözün kalmasın<br/>
        Dışın alsa bile için almasın<br />
        Makamın, şöhretin varsın olmasın<br />
        Hedefe yürüyen adam ol yeter<br /><br />
        Garibi, mazlumu üzen değişmez<br />
        Ezilen değişmez, ezen değişmez<br />
        Lafazanlık ile düzen değişmez<br />
        Hedefe yürüyen adam ol yeter<br /><br />
        Bir çınarsın, kimse bükemez seni<br />
        İstediği yöne çekemez seni<br />
        Hesaplar, planlar yıkamaz seni<br />
        Hedefe yürüyen adam ol yeter<br /><br />
        Mertlik ve dürüstlük hileyi yener<br />
        Yalancının mumu yatsıda söner<br />
        Mutlaka bu devran tersine döner<br />
        Hedefe yürüyen adam ol yeter<br />

        Uğur Işılak
    </label>
</div>

